<script>

    import { run, to_number } from "svelte/internal";

</script>
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Der Knecht</title>
  <link rel="stylesheet" href="style.css">
</head>
<body class= bottymcbotface>
  <div class="chatbot-container">
      <div id="chatbot">
          <div id="conversation">
            <div class="chatbot-message">
              <p class="chatbot-text">Moin Moin was geht</p>
            </div>
          </div>
          <form id="input-form">
            <message-container>
              <input id="input-field" type="text" placeholder="Schreib hier">
              <button id="submit-button" type="submit">
                  <img class="send-icon" src="/src/assets/send-message.png" alt="">
              </button>
            </message-container>
              
          </form>
      </div>  

  </div>
<style>
  
.bottymcbotface {
  font-family: "Pixelated MS Sans Serif";
  src: url("fonts/converted/ms_sans_serif.woff") format("woff");
  src: url("fonts/converted/ms_sans_serif.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;

}

.chatbot-container {
    width: 545px;
    margin: 0 auto;
    background-color: #f5f5f5;
    /* border: 1px solid #cccccc;
    border-radius: 5px; */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

#chatbot {
    background-color: #c0c0c0;
    /* border: 1px solid #eef1f5;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.6);
    /*border-radius: 4px; */
  }
  
  #header {
    background-color: #0000ff;
    color: #222222;
    padding: 0.25px;
    text-align: center;
  }

message-container {
  background: #ffffff;
  width: 100%;
  display: flex;
  align-items: top;
}

#conversation {
  height:267px;
  overflow: auto;
  padding: 10px;
  display: flex;
  flex-direction: column;
}

  @keyframes message-fade-in {
    from {
      opacity: 0;
      transform: translateY(-20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  .chatbot-message {
    display: flex;
    align-items: flex-start;
    position: relative;
    font-size: 12px;
    line-height: 18px;
    /* border-radius: 20px; */
    word-wrap: break-word;
    white-space: pre-wrap;
    max-width: 100%;
    padding: 0 15px;
  }

.user-message {
  justify-content: flex-end;
}


.chatbot-text {
    background-color: white;
    color: #222222;
    font-size: 1.1em;
    padding: 10px;
    /* border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); */
  }
  
  #input-form {
    position: relative;
    display: flex;
    align-items: center;
    border-top: 1px solid #eef1f5;
  }
  
  #input-field {
    flex: 1;
    height: 30px;
    /* border: 1px solid #eef1f5;
    border-radius: 4px; */
    padding: 0 10px;
    font-size: 13px;
    transition: border-color 0.3s;
    background: #ffffff;
    color: #222222;
    /* border: none; */

}

  .send-icon {
    margin-right: 10px;
    cursor: pointer;
  }
  
  #input-field:focus {
    /* border-color: #333333; */
    outline: none;
  }
  
  #submit-button {
    background-color: transparent;
    /* border: none; */
  }

p[sentTime]:hover::after {    
  content: attr(sentTime);
  position: absolute;
  top: -3px;
  font-size: 14px;
  color: gray;
}

.chatbot p[sentTime]:hover::after {  
  left: 15px;
}

.user-message p[sentTime]:hover::after {  
  right: 15px;
}


/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}
</style>

  <script>
      // Get chatbot elements
  const chatbot = document.getElementById('chatbot');
  const conversation = document.getElementById('conversation');
  const inputForm = document.getElementById('input-form');
  const inputField = document.getElementById('input-field');
  tomtake = JSON.parse('{"tomtakes":"osterei"}');

  let brosennemode = false;
  let mausmode = false;
  let hallomode = false;
  let tschuessmode = false;
  let leisemode = false;

  fetch("src/lib/tom-takes.json")
  .then(function (response) {
    return response.json();
  })
  .then(function (data) {
    return tomtake = data.tomtakes;
  })

  // Add event listener to input form
  inputForm.addEventListener('submit', function(event) {
  // Prevent form submission
  event.preventDefault();

  // Get user input
      const input = inputField.value;

      const hallos = [
      "Hallo!",
      "Hi!",
      "Hey!",
      "Hello!",
      "Heyy!",
      "Heyyy!"
      ];

      const tschuesses = [
      "Tschüss!",
      "Tschau!",
      "Tschüüss!",
      "Tschüüüüss!"
      ]

      // Clear input field
      inputField.value = '';
      const currentTime = new Date().toLocaleTimeString([], { hour: '2-digit', minute: "2-digit" });

      // Add user input to conversation
      let message = document.createElement('div');
      message.classList.add('chatbot-message', 'user-message');
      message.innerHTML = `<p class="chatbot-text" sentTime="${currentTime}">${input}</p>`;
      conversation.appendChild(message);

      // Generate chatbot response
      let response = generateResponse(input);

      if (hallomode) {
          response = hallos[Math.floor(Math.random() * hallos.length)];
      }

      if (tschuessmode) {
          response = tschuesses[Math.floor(Math.random() * tschuesses.length)];
      }

      if (mausmode) {
          switch (response.charAt(response.length-1)) {
              case '.':
                  response = response.substring(0, response.length-1);
                  response = response + ", Maus.";
                  break;
              case '?':
                  response = response.substring(0, response.length-1);
                  response = response + ", Maus?";
                  break;
              case '!':
                  response = response.substring(0, response.length-1);
                  response = response + ", Maus!";
                  break;
              default:
                  response = response + ", Maus";
                  break;
          }
      }

      if (brosennemode) response = response.toUpperCase();

      // Add chatbot response to conversation
      if (!leisemode) {
          message = document.createElement('div');
          message.classList.add('chatbot-message','chatbot');
          message.innerHTML = `<p class="chatbot-text" sentTime="${currentTime}">${response}</p>`;
          conversation.appendChild(message);
      }
      message.scrollIntoView({behavior: "smooth"});
  });
      function openAndCloseImage(imageUrl) {
        // Open a new window with the image
        var newWindow = window.open(imageUrl);
        // Set a timeout to close the window after 6.666 seconds
          setTimeout(function() {
          // Close the window
          newWindow.close();
        }, 6666);
      }

    // Generate chatbot response function
      function generateResponse(input) {
        // Add chatbot logic here
        const responses = [
        "Bro Ich versteh dich nicht",
        "Sacht mir nix sry",
        "Wasch labersch du?",
        "Rede meine Sprache",
        "Das ist kein Befehl du Dulli",
        "Lern erstmal schreiben",
        "Rede nicht mit mir wenn du nicht weißt was ich will",
        "♎︎◆︎ ♒︎♋︎⬧︎⧫︎ ♎︎♓︎♏︎ ❄︎♏︎♍︎♒︎ ☝︎⬁︎⧫︎⧫︎♏︎❒︎ ❖︎♏︎❒︎⬧︎⧫︎♓︎❍︎❍︎⧫︎",
        "Du klingst hier nicht gerade wie ein Meister",
        "Das ist kein valides Kommando. Bitte nutze \"help\", um eine Liste der gültigen Befehle zu erhalten.",
        "d҉u҉ ҉h҉a҉s҉t҉ ҉d҉i҉e҉ ҉T҉e҉c҉h҉ ҉G҉ö҉t҉t҉e҉r҉ ҉v҉e҉r҉s҉t҉i҉m҉m҉t҉",
        "Bist als Kind paar mal zu oft aufn Kopf gefallen?",
        "💀💀💀",
        "Sicher dass du Info studierst?",
        "Bro ich kann mir das nicht mehr anhören",
        "Bruh",
        "Cringe Bro."
        ];
        const antworten = [
        "Selbstverständlich nicht.",
        "Mehr als du.",
        "42.",
        "Nö.",
        "Alle.",
        "Leider erst morgen.",
        "Hitler, kann das sein?"
        "Das ist Trivial"
        ];
        const lorenzfragen = [
        "Willst du mit in die Fachgruppe?",
        "Willst du beim Hackathon mitmachen?",
        "Willst du mit zur KiF kommen?",
        "Bist du bei der GiT dabei?",
        "Bist du bei der Sit dabei?"
        ];
        const nudeln = [
            "Instant Nudeln isst man am Besten aus dem Glaskrug.",
            "Instant Nudeln lassen sich gut aus einem Schuh essen.",
            "Robins Teekanne eignet sich gut zum Instant Nudeln essen.",
            "Instant Nudeln schmecken besonders gut in einer leeren Mate-Flasche.",
            "Instant Nudeln kann man auch aus deiner Hohlbirne essen, du Knecht.",
            "Man kann Instant Nudeln z. B. aus einem Handtuch essen.",
            "Instant Nudeln muss man in der Info wegen akutem Inventarmangel aus 2 Schüssln gleichzeitig essen."
        ];
        const standards = new Map([
            ["remoulade", "Ei, Ei"],
            [":3", ">:3"],
            ["guten tag", "Guten Tag."],
            ["hallo marvin", "Hallo Marvin."],
            ["19 uhr", "AAAAALLLAAAAAARRRMMMM!!!"],
            ["help", "Aber bitte auf Deutsch."],
            ["hilfe", "Nein."],
            ["japan", "ﾌ卂卩卂几"],
            ["könnnen wir das schaffen", "Ja, wir schaffen das!"],
            ["zur party", "Zur Party!"],
            ["moin", "Moin Moin."],
            ["windings", "⬥︎♓︎■︎♎︎♓︎■︎♑︎⬧︎"],
            ["gute nacht", "Gute Nacht!"],
            ["advanced", "ADVANCED!"]
        ]);
        const dekadenzen = new Map([
            ["frühstück", "sehr dekadent."],
            ["rostyk", "Sehr gute Frage."],
            ["40 credits", "absolut dekadent."],
            ["ich","nicht so dekadent."],
            ["du", "natürlich dekadent, was ist das denn für eine Frage"],
            ["meister sein", "ehrlich dekadent."],
            ["knecht sein", "nicht dekadent."],
            ["frittenchef", "immer dekadent."],
            ["lunchbox", "gar nicht dekadent."],
            ["remoulade", "selbstverständlich dekadent."],
            ["frosch", "dekadent."],
            ["leben", "schon dekadent."],
            ["info studieren", "dekadent."],
            ["data science studieren", "auch dekadent."],
            ["wirtschaftsinformatik studieren", "gar nicht dekadent."],
            ["um 2 uhr einen chatbot programmieren", "absolut dekadent."],
            ["um 3 uhr immer noch einen chatbot programmieren", "noch dekadenter."],
            ["alando", "dekadent. auf die falsche Weise"],
            ["pfeffi", "unglaublich dekadent."],
            ["windings", "♏︎⌧︎⧫︎❒︎♏︎❍︎ ♎︎♏︎🙵♋︎♎︎♏︎■︎⧫︎📬︎"],
            ["kroketten", "dekadent."]
        ]);

      let frage = false;
      let oinput = input;
          
      //Konvertierer/////////////////////////////////////////////////////////////////
      if (input.endsWith('.')||input.endsWith('!')||input.endsWith('?')) {
          input = input.substr(0, input.length-1);
      }
      input = input.toLowerCase();
      input = input.trimEnd();
      input = input.trimStart();



      //MODES/////////////////////////////////////////////////////////////////////////

      if(input == "alzheimer"){
        while (conversation.firstChild) {
          conversation.removeChild(conversation.firstChild);
          }
        return "Wo bin ich?";
      }

      if (input=="brosennemode"||input=="brosennemode an"||input=="brosennemode on") {
          brosennemode=true;
          return "Brosennemode!";
      }

      if (input == "brosennemode aus"||input == "brosennemode off") {
          brosennemode=false;
          return "Brosennemode aus."
      }

      if (input=="mausmode"||input=="mausmode an"||input=="mausmode on") {
          mausmode=true;
          return "Mausmode an!";
      }

      if (input == "mausmode aus"||input == "mausmode off") {
          mausmode=false;
          return "Mausmode aus >:("
      }

      if (input=="heyy"||input=="heyyy"||input=="hello"||input=="hallo"||input=="hi"||input=="hey"|| (input.startsWith("hallo ") && !(input=="hallo marvin")) ||input.startsWith("hi ")||input.startsWith("hey ")||input.startsWith("hello ")||input.startsWith("heyy ")||input.startsWith("heyyy ")) {
          hallomode = true;
          tschuessmode = false;
          return "HALLO";
      }

      if (input=="tschüss"||input=="tschau"||input=="tschuess"||input=="tschüüss"||input=="tschüüüss"||input=="tschüß"||input=="tschueß"||input=="tschüüß"||input=="tschüüüß"||input.startsWith("tschüss ")||input.startsWith("tschau ")||input.startsWith("tschuess ")||input.startsWith("tschüüss ")||input.startsWith("tschüüüss ")||input.startsWith("tschüß ")||input.startsWith("tschueß ")||input.startsWith("tschüüß ")||input.startsWith("tschüüüß ")) {
          tschuessmode = true;
          hallomode = false;
          return "TSCHAU";
      }

      if (input.includes("halts maul")||input.includes("sei leise")||input.includes("ruhig jetzt")) {
          leisemode=true;
          return ":(";
      }

      if (input.includes("sorry")||input.includes("tut mir leid")||input.includes("entchuldigung")) {
          leisemode=false;
          return "Aber verziehen habe ich dir nicht";
      }

      if (input.trim()=="simmsalabimm") {
          hallomode=false;
          tschuessmode=false;
          brosennemode=false;
          mausmode=false;
          leisemode=false;
          return "ding dong modus aus";
      }



      //CHECKS/////////////////////////////////////////////////////////////////////////


      if (oinput.substr(0, 11)=="deine mudda") {
          return "DEINE Mudda"+oinput.substr(11, input.length);
      }

      if (oinput.endsWith('?')) {
          frage = true;
      }

      if (input.length>100) {
          return "Junge das werde ich nicht alles lesen";
      }

      if (input.includes("problem")) {
          return "Das Problem sitzt vor dem Bildschirm.";
      }

      if (input.includes("knecht")) {
          return "Selber Knecht";
      }

      if (input.includes("meister")) {
          return "Selber Meister";
      }

      if (input.includes("lorenz")) {
          return lorenzfragen[Math.floor(Math.random() * lorenzfragen.length)];
      }

      if (input.substr(0, 8)=="kann ich"||input.substr(0, 8)=="darf ich") {
          return "Computer sagt nein."
      }

      if (input=="mika") {
        openAndCloseImage("src/assets/mika.jpeg");
        return "Da ist der Meister";
      }

      if (input=="schick mir ein selfie"){
        openAndCloseImage("src/assets/dither_it_smilie00188.png");
        return "Das bin ich.";
      }

      if (input.endsWith("e mich")) {
          return "Du bist hiermit ge"+input.substr(0, input.length-6)+"et";
      }

      if (input.includes("gott")) {
          return "🙏";
      }

      if (input.startsWith("cd")) {
          return "There Is No Escape";
      }

      if (input=="ls") {
          return "Excuse me das ist privat";
      }

      if (input=="shutdown") {
          return "Du dachtest das wäre so einfach?";
      }

      if (input.startsWith("sl")) {
          return "Choo Choo! 🚂☁☁";
      }

      if (input.startsWith("sudo")) {
          return "Du hast keine Macht hier";
      }


      //SPECIALS///////////////////////////////////////////////////////////////////
      

      if (input.startsWith("tomtake")) {
        let request = oinput.substr(8, input.length);
        for (let i = 0; i < tomtake.length; i++) {
          if (tomtake[i].subject == request.toLowerCase()){
            return tomtake[i].take;
          } 
        }
          return "Tom hat noch keinen Take zu "+request+".";
      }

      if (input.includes("nudeln")||input.includes("instantnudeln")||input.includes("instant-nudeln")||input.includes("instant nudeln")) {
          return nudeln[Math.floor(Math.random() * nudeln.length)];
      }

      if (input.startsWith("dekadenzcheck")) {
          zupruefen = input.substr(14, input.length);
          if (dekadenzen.has(zupruefen)) {
              return dekadenzen.get(zupruefen);
          }
          else {
              return "Dekadenz für "+zupruefen+" ist noch nicht festgelegt.";
          }
      }

      if (standards.has(input)) {
          return standards.get(input);
      }

      if (frage) {
          return antworten[Math.floor(Math.random() * antworten.length)];
      }

      //DEFAULT CASE//////////////////////////////////////////////////////////////
      return responses[Math.floor(Math.random() * responses.length)];
  }
  </script>
</body>