  <head>
    <meta charset="UTF-8">
    <script>
      var facts = [
        "A crocodile cannot stick its tongue out.",
        "A shrimp's heart is in its head.",
        "A cockroach can live several weeks without its head.",
        "A group of flamingos is called a flamboyance.",
        "The shortest war in history lasted only 38 minutes.",
        "The world's oldest piece of chewing gum is over 9,000 years old.",
        "The average person will spend six months of their life waiting for red lights to turn green.",
        "The shortest complete sentence in the English language is 'I am.'",
        "A sneeze can travel up to 100 miles per hour.",
        "Some cats are allergic to humans.",
        "The shortest war in history was between Britain and Zanzibar on August 27,1896. Zanzibar surrendered after just 38 minutes.",
        "Cats can make over 100 different vocal sounds,while dogs can only make about 10.",
        "The world's oldest piece of chewing gum is over 9,000 years old.",
        "The average person will spend six months of their life waiting for red lights to turn green.",
        "The tongue is the strongest muscle in the body.",
        "In Switzerland,it is illegal to own just one guinea pig.",
        "A small child could swim through the veins of a blue whale.",
        "The world's largest grand piano was built by a 15-year-old in New Zealand.",
        "The largest snowflake on record measured 15 inches wide and 8 inches thick.",
        "A cockroach can live for several weeks without its head.",
        "The fingerprints of koalas are so indistinguishable from humans that they have on occasion been confused at a crime scene.",
        "A group of flamingos is called a flamboyance.",
        "A blue whale's heart is the size of a small car.",
        "The world's oldest living tree is over 4,800 years old.",
        "Honey never spoils. You can eat honey that's been in your cupboard for years and it'll still be good.",
        "The longest recorded flight of a chicken is thirteen seconds.",
        "A hippopotamus can run faster than a human.",
        "A sneeze can travel up to 100 miles per hour.",
        "The world's largest snow maze is over 4,200 square feet and is located in Warren,Vermont.",
        "Pigs can get sunburned.",
        "Squirrels can rotate their ankles 180 degrees,can jump up to 20 feet,and can fall from up to 100 feet without getting hurt.",
        "A cat's nose pad is ridged with a unique pattern,just like the fingerprints of a human.",
        "The longest wedding veil was longer than 63 football fields and was worn by a woman in Cyprus.",
        "Polar bears can eat up to 88 pounds of food in a single meal.",
        "The longest place name in the world has 85 letters and is located in New Zealand: Taumatawhakatangihangakoauauotamateaturipukakapikimaungahoronukupokaiwhenuakitanatahu.",
        "The world's largest snowflake on record measured 15 inches wide and 8 inches thick.",
        "The shortest war in history was between Britain and Zanzibar on August 27,1896. Zanzibar surrendered after just 38 minutes.",
        "The average person will spend six months of their life waiting for red lights to turn green.",
        "The tongue is the strongest muscle in the body.",
        "In Switzerland,it is illegal to own just one guinea pig.",
        "A small child could swim through the veins of a blue whale.",
        "The world's largest grand piano was built by a 15-year-old in New Zealand.",
        "The largest snow maze in the world is over 4,200 square feet and is located in Warren,Vermont.",
        "Honey never spoils. You can eat honey that's been in your cupboard for years and it'll still be good.",
        "The fingerprints of koalas are so indistinguishable from humans that they have on occasion been confused at a crime scene.",
        "A group of flamingos is called a flamboyance.",
        "A blue whale's heart is the size of a small car.",
        "The world's oldest living tree is over 4,800 years old.",
        "The longest recorded flight of a chicken is thirteen seconds.",
        "A hippopotamus can run faster than a human.",
        "A sneeze can travel up to 100 miles per hour.",
        "Pigs can get sunburned.",
        "Squirrels can rotate their ankles 180 degrees,can jump up to 20 feet,and can fall from up to 100 feet without getting hurt.",
        "A cat's nose pad is ridged with a unique pattern,just like the fingerprints of a human.",
        "The tallest man in recorded history,Robert Wadlow,was 8 feet 11 inches tall.",
        "A group of cats is called a clowder.",
        "The only letter that does not appear in any U.S. state name is 'Q'.",
        "The world's smallest mammal is the bumblebee bat,which weighs less than a penny.",
        "There are more possible iterations of a game of chess than there are atoms in the known universe.",
        "Cows have best friends.",
        "The shortest complete sentence in the English language is 'I am.'",
        "The human nose can detect over 1 trillion different scents.",
        "The shortest war in history was fought between two city states in ancient Greece,lasting only 30 minutes.",
        "Dolphins sleep with one eye open.",
        "A bolt of lightning contains enough energy to toast 100,000 slices of bread.",
        "The longest English word is 189,819 letters long and takes over three hours to pronounce.",
        "Sloths only defecate once a week.",
        "The world's oldest piece of chewing gum is over 9,000 years old.",
        "The world's largest snow sculpture was over 400 meters long and 10 meters high.",
        "There is a species of jellyfish that is immortal.",
        "The world's oldest known fish was a 400-year-old Greenland shark.",
        "The shortest scheduled flight in the world is between two Scottish islands and takes only 47 seconds.",
        "The largest waterfall in the world is the Angel Falls in Venezuela,which drops water from a height of 3,212 feet.",
        "Rats laugh when they are tickled.",
        "The world's largest bottle of wine was over 30 feet tall and could hold over 50,000 bottles of wine.",
        "A cockroach can live for several weeks without its head.",
        "The world's largest diamond was over 3,100 carats and was found in South Africa.",
        "A shrimp's heart is located in its head.",
        "There are more possible iterations of a game of Go than there are atoms in the universe."
      ];
      var currentFact = 0;
      function displayFact() {
        var today = new Date();
        var dateStr = today.toLocaleDateString("en-US",{day: "numeric",month: "long",year: "numeric"});
        document.getElementById("date").innerHTML = "Fun fact for " + dateStr;
        document.getElementById("fact").innerHTML = facts[currentFact];
        currentFact = (currentFact + 86400000) % facts.length;
      }
      setInterval(displayFact,10000);
      displayFact();
    </script>
  </head>

    <h2 id="date"></h2>
    <p id="fact"></p>
