<body class="knecht">
    <iframe class = test src="https://free.timeanddate.com/countdown/i8tr2r6h/n995/cf110/cm1/cu5/ct0/cs0/ca0/co1/cr0/ss0/cac000/cpc000/pc90f/tcfff/fn3/fs225/szw576/szh243/tatTime%20left%20to%20Event%20in/tac000/tptTime%20since%20Knecht%20started/tpc000/iso2023-04-23T18:00:00"  frameborder="0" width="465" height="243"></iframe>

</body>
<style>
    .knecht{
        background-color: #b121ef;
    }
    .test{
        pointer-events: none;
    }
    
</style>

