<script>

    import { object_without_properties } from "svelte/internal";

</script>
<head>
    <title>Button Example</title>
    <style>
      .liste{
        background-image: url("src/assets/dither_it_redcharlie-redcharlie1-aexdWGJu7Gs-unsplash.png");
      }
      button {
        font-size: 15px;
      }
      #counters {
        padding: 5px;
        font-size:20px;
        font-family: "Pixelated MS Sans Serif";
        src: url("fonts/converted/ms_sans_serif.woff") format("woff");
        src: url("fonts/converted/ms_sans_serif.woff2") format("woff2");
        -webkit-font-smoothing: none;
        font-weight: bolder;
        font-style: normal;
        height: 283px;
        width: 455px;
			  overflow: auto;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 3px;
	      }
    </style>
  </head>
  <body class="liste">
    <div id="counters"></div> 
    <button id="add-counter-btn">Add Item</button>

    <script>
      // get relevant elements
      const countersDiv = document.getElementById('counters');
      const addCounterBtn = document.getElementById('add-counter-btn');

      // counter id to keep track of the number of counters
      let counterId = 1;

      // array to keep track of existing counters
      const counters = [];

      // add event listener to add counter button
      addCounterBtn.addEventListener('click', () => {
        // prompt user for counter name
        const counterName = prompt("Enter new Item:");

        // check if counter with same name already exists
        let existingCounter = counters.find(counter => counter.name.toLowerCase() === counterName.toLowerCase());

        if (existingCounter) {
          // reuse code to increment existing counter
          existingCounter.incrementBtn.click();
        } else {
          // create new counter element
          const newCounterElem = document.createElement('div');
          newCounterElem.innerHTML = `
            <p>${counterName}: <span class="count">0</span></p>
            <button class="increment-btn">Up ↑</button>
            <button class="decrement-btn">Down ↓</button>
          `;
          countersDiv.appendChild(newCounterElem);

          // add event listeners to new counter buttons
          const countElem = newCounterElem.querySelector('.count');
          const incrementBtn = newCounterElem.querySelector('.increment-btn');
          const decrementBtn = newCounterElem.querySelector('.decrement-btn');

          let count = 0;
          let canVote = true;

          incrementBtn.addEventListener('click', () => {
            if (canVote) {
              count++;
              countElem.textContent = count.toString();
              canVote = false;
              incrementBtn.disabled = true;
              setTimeout(() => {
                canVote = true;
                incrementBtn.disabled = false;
              }, 10000);
            }
          });

          decrementBtn.addEventListener('click', () => {
            if (canVote) {
              count--;
              countElem.textContent = count.toString();
              canVote = false;
              decrementBtn.disabled = true;
              setTimeout(() => {
                canVote = true;
                decrementBtn.disabled = false;
              }, 10000);
            }
          });

          // add new counter to counters array
          counters.push({
            name: counterName,
            count: count,
            countElem: countElem,
            canVote: canVote,
            incrementBtn: incrementBtn,
            decrementBtn: decrementBtn
          });

          // increment counter id
          counterId++;
        }
      });

      // add event listener for keyboard navigation
      document.addEventListener('keydown', (event) => {
        // get active element
        const activeElement = document.activeElement;

        // check if active element is a button
        if (activeElement.tagName === 'BUTTON') {
          // get index of active button
          const buttons = document.getElementsByTagName('button');
          const activeIndex = Array.from(buttons).indexOf(activeElement);

          // handle arrow key navigation
          if (event.key === 'ArrowUp' && activeIndex > 0) {
            buttons[activeIndex - 1].focus();
          } else if (event.key === 'ArrowDown' && activeIndex < buttons.length - 1) {
            buttons[activeIndex + 1].focus();
          }
        }
      });
    </script>
  </body>