<meta charset="UTF-8">
<title>Horizontal Scroll List</title>
<body class= money>
	<div class="list">
		<div class="item">Paulaner Spezi: 1€</div>
		<div class="item">Mio Cola (alle Sorten): 1€</div>
		<div class="item">Mio Mate (alle Sorten): 1€</div>
		<div class="item">Bionade (alle Sorten): 1€</div>
		<div class="item">Wasser 1.5l: 0.50€</div>
		<div class="item">Club Mate: 1.50€</div>
		<div class="item">Lamate: 1€</div>
		<div class="item">Fritz Kola: 1.50€</div>
		<div class="item">Paulaner Spezi: 1€</div>
		<div class="item">Mio Cola (alle Sorten): 1€</div>
		<div class="item">Mio Mate (alle Sorten): 1€</div>
		<div class="item">Bionade (alle Sorten): 1.50€</div>
		<div class="item">Wasser 1.5l: 0.50€</div>
		<div class="item">Club Mate: 1€</div>
		<div class="item">Lamate: 1€</div>
		<div class="item">Fritz Kola: 1.50€</div>
	</div>
</body>
<style>
	.money {
		margin: 0;
		padding: 0;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		height: 64px;
		font-family: "Pixelated MS Sans Serif";
 			src: url("fonts/converted/ms_sans_serif.woff") format("woff");
 			src: url("fonts/converted/ms_sans_serif.woff2") format("woff2");
 			font-weight: normal;
 			font-style: normal;
	}
	.list {
		display: flex;
		font-size: 40pt;
		animation: scroll 20s linear infinite;
		width: max-content;
		position: relative;
		left: 0;
		overflow-x: hidden;
		background-color: #000000;
	}
	.item {
       color: #ffffff;
        background-color: #00000000;
		display: inline-block;
		padding-top: 3px;
		padding-inline: 15px;
		min-width: 200px;
		text-align: center;
	}
	@keyframes scroll {
		0% {
			left: 0;
		}
		100% {
			left: -150%;
		}
	}
</style>

