<head>
	<title>Three Column Layout Example</title>
	<style>
		body {
			margin: 0;
		}

		.container {
			display: flex;
			flex-wrap: wrap;
			height: 100vh;
		}

		.top-row {
			position: fixed; /* make the top row fixed */
			top: 0;
			left: 0;
			right: 0;
			background-color: #333;
			color: #fff;
			display: flex;
			align-items: center;
			justify-content: center;
			padding: 20px;
			box-sizing: border-box;
			z-index: 1; /* ensure top row appears above other elements */
		}

		.left-column {
			flex: 1;
			background-color: #f2f2f2;
			display: flex;
			align-items: center;
			justify-content: center;
			margin-top: 120px; /* move down by the height of top row + 20px padding */
		}

		.left-column .content {
			flex: 1;
			width: 80%;
			text-align: center;
			margin: auto;
		}

		.middle-column {
			flex: 1;
			background-color: #f2f2f2;
			display: flex;
			align-items: flex-end;
			justify-content: center;
			margin-top: 120px; /* move down by the height of top row + 20px padding */
		}

		.middle-column .content {
			width: 80%;
			text-align: center;
			margin-bottom: 10%;
		}

		.right-column {
			flex: 1;
			display: flex;
			flex-direction: column;
			background-color: #f2f2f2;
			margin-top: 120px; /* move down by the height of top row + 20px padding */
		}

		.right-column .content {
			flex: 1;
			width: 80%;
			text-align: center;
			margin: auto;
		}

		.right-column .spacer {
			flex: 0.1;
		}

		@media (max-width: 768px) {
			.container {
				height: auto;
			}

			.left-column .content,
			.middle-column .content,
			.right-column .content {
				width: 90%;
			}
		}
	</style>
</head>
<body>
	<div class="top-row">
		<h1>Top Row</h1>
		<p>This div is justified to the top of the page.</p>
	</div>
	<div class="container">
		<div class="left-column">
			<div class="content">
				<h2>Left Column</h2>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
			</div>
		</div>
		<div class="middle-column">
			<div class="content">
				<h2>Middle Column</h2>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
			</div>
		</div>
		<div class="right-column">
			<div class="content">
				<h2>Right Column 1</h2>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
			</div>
			<div class="spacer"></div> <!-- add spacer between divs -->
			<div class="content">
				<h2>Right Column - Div 2</h2>
				<p>This is the second div in the right column.</p>
			</div>
		</div>
	</div>
</body>
