<head>
  <title>DVD Screensaver</title>
  <style>
    #canvas {
     background-color: #000000;
    }
  </style>
</head>
<body>
  <canvas id="canvas" width="1920" height="1080"></canvas>
  <script>
    var canvas = document.getElementById("canvas");
    var ctx = canvas.getContext("2d");

    // Define the rectangle
    var rectWidth = 100;
    var rectHeight = 50;
    var rectX = canvas.width / 2 - rectWidth / 2;
    var rectY = canvas.height / 2 - rectHeight / 2;

    // Define the direction of the rectangle
    var dx = 5;
    var dy = 5;

    // Define the color of the rectangle
    var color = "#ff0000";

    function draw() {
      // Clear the canvas
      ctx.clearRect(0, 0, canvas.width, canvas.height);

      // Draw the rectangle
      ctx.fillStyle = color;
      ctx.fillRect(rectX, rectY, rectWidth, rectHeight);

      // Move the rectangle
      rectX += dx;
      rectY += dy;

      // Check if the rectangle hits the walls
      if (rectX + rectWidth > canvas.width || rectX < 0) {
        dx = -dx;
        color = getRandomColor();
      }
      if (rectY + rectHeight > canvas.height || rectY < 0) {
        dy = -dy;
        color = getRandomColor();
      }
    }

    function getRandomColor() {
      var letters = "0123456789ABCDEF";
      var color = "#";
      for (var i = 0; i < 6; i++) {
        color += letters[Math.floor(Math.random() * 16)];
      }
      return color;
    }

    // Run the animation
    setInterval(draw, 10);
  </script>
</body>