<!--Wetter-->
<body class="wttr">
<iframe class="click" src="https://www.meteoblue.com/de/wetter/widget/daily?geoloc=detect&days=4&tempunit=CELSIUS&windunit=KILOMETER_PER_HOUR&precipunit=MILLIMETER&coloured=monochrome&pictoicon=0&pictoicon=1&maxtemperature=0&maxtemperature=1&mintemperature=0&mintemperature=1&windspeed=0&windspeed=1&windgust=0&winddirection=0&winddirection=1&uv=0&uv=1&humidity=0&precipitation=0&precipitation=1&precipitationprobability=0&precipitationprobability=1&spot=0&spot=1&pressure=0&layout=light" frameborder="0" scrolling="NO"  sandbox="allow-same-origin allow-scripts allow-popups allow-popups-to-escape-sandbox" style="width: 216px; height: 320px" >
</iframe><div>
    <!-- DO NOT REMOVE THIS LINK -->

</div>
</body>

<style>
    .wttr{
        background-color: #c0c0c0;
    }
    .click{
        pointer-events: none;
    }
</style>
