<main class="window">
    <nav class="title-bar">
      <div class="title-bar-text">{title}</div>
      <div class="title-bar-controls">
        <button aria-label="Minimize"  on:click={gutwindowaction('Minimize')}></button>
        <button aria-label="Maximize" on:click={windowaction('maximize')}></button>
        <button aria-label="Close" on:click={gutwindowaction('Close')}></button>
      </div>
    </nav>
    <div class="window-body">
      <slot></slot>
    </div>
    {#if statusbar}
        <div class="status-bar">
            {#each statusbar as status}
            <p class="status-bar-field">{status}</p>
            {/each}
        </div>
    {/if}
</main>
<script>
    export let title = "A window";
    export let statusbar = ["Press F1 for help"];

    function windowaction(action) {
        return () => nw.Window.get()[action]();
    }
    function gutwindowaction(action){

       return() => confirm([action]);
    }
</script>