  <body>
    <div class="top-row">
      <Window title = "some numbers" statusbar={[""]}>
        <Moneten></Moneten>
      </Window>
    </div>
    <div class="container">
      <div class="left-column">
          <Window title="Wunschliste" statusbar={["Erfüllung der Wünsche ist ohne Gewähr"]}>
            <Liste></Liste>
          </Window>
      </div>
      <div class="middle-column">
          <Window title="Knecht" statusbar={["Sprich mit mir"]}>
            <Chatbot></Chatbot>
          </Window>
      </div>
      <div class="right-column">
        <Window title="Wetter Göttingen" statusbar={["oder schau halt raus"]}>
          <Wetter></Wetter>
        </Window>
      </div>
      
      <div class="content">
        <Window title="Sehr wichtig und dekadent" statusbar={["wichtige Information"]}>
          <Sknecht></Sknecht>
        </Window>
      </div>
      <div class="content">
          <Window title= "fun facts" statusbar={["facts are powered by an Ai, so take it with a grain of salt"]}>
              <Facts></Facts>
            </Window>
      </div>
    </div>
  </body>

  <style>
    body{
      overflow-y: hidden;
      height: 1080px;
    }
    .container {
      display: grid;

      overflow: auto;
      grid-template-columns: repeat(3, 1fr);
      gap: 3px;
    }
  
    .top-row {
      color: #fff;
      justify-content: center;
      height: 120px;
      z-index: 1; /* ensure top row appears above other elements */
    }
  
    .left-column {
      height: 385px;
      align-items: bottom;
      justify-content: left;
      
      }
  
    .middle-column {
      height: 385px;
      background-color: #f2f2f2;
      align-items: left;
      justify-content: left;
    }
  
    .right-column {
      height: 385px;
      display: flex;
      align-items: top;
      justify-content: center;
    }
    .content{
      height: 270px;
      align-items: top;
      justify-content: center;
    }

  
  </style>


<script>
    import Window from "./lib/Window.svelte";
    const title = "Knecht des Vertrauens";
    import Moneten from "./lib/money.svelte";
    import Chatbot from "./lib/chatbot.svelte";
    import Liste from "./lib/Liste.svelte";
    import Facts from "./lib/fun-fact.svelte"
    import Wetter from "./lib/wetter.svelte"
    import Sknecht from "./lib/Iframes.svelte"
</script>
